h1  {
   color: green 


}

p {
    color: orangered
    text-align: center;
}

* {
    margin: 40;
    text-align: center 
    
}

.wrapper {
    border: 2px dotted red;
    width: 100vw;
    height: 67vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;


}


h1 {
    text-align:center;
    padding: 45px;

}


.phone {
    border: 2px solid green;
    width: 50%;
    height: 60%;
    border-radius: 4vw;
    display: flex:
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
 


    
}

.row {
    border: 2px solid orangered
    display: flex;
    justify-content:space-evenly;
    margin:5px;
    text-align: center;


}




h2 {
    color: Red;

}





